*{
    background-color: black;
    size: 10px;
}

#ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 0;
}

#left{
    margin-left: 5%;
    font-family: "poiret-one", sans-serif;
    background-color: whitesmoke;
    color: black;
    border-radius: 2rem;
    border-style: solid;
    border-width: 2px;
}

#right{
    margin-right: 5%;
    font-family: "poiret-one", sans-serif;
    background-color: whitesmoke;
    color: black;
    border-radius: 2rem;
    border-style: solid;
    border-width: 2px;


}

#center{
    margin: 0 auto;
    font-family: "canto", serif;
    color: whitesmoke;


}

#ul a{
    text-align: center;
 


    padding: 0.5rem;
    padding-top: 0.9rem;
    text-decoration: none;


    font-size: 2vw;

    
    height: fit-content;
}

